body{
    margin:0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1422493757035-1e5e03968f95?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2008&q=80');
    background-size: cover;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-size: 14px;
    color:white;
}

.clock{
    display: flex;
}

.clock div{
    margin:5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: .8;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock span#text{
    height: 30px;
    font-size:10px;
    letter-spacing: 2px;
    background-color: darkblue;

}

.clock #ampm{
    position: absolute;
    bottom:0;
    height: 30px;
    width:60px;
    font-size: 20px;
    background: green;
}